.delorean {
  max-width: 50rem;
  margin: 0px auto;
  text-align: center;
}

.image-section p {
  font-family: 'Pacifico', cursive;
}

.accelerator button {
  background-color: #EEE;
  margin: 25px;
  box-shadow: 5px 5px 5px #C8C8C8;
  font-size: 25px;
  font-family: 'Courier New';
}

.speedometer {
  font-family: 'Helvetica';
}

.speedometer h1 {
  font-family: 'Geostar Fill', cursive;
  background-color: black;
  color: red;
  font-size: 100px;
  margin: 20px;
}

.speedometer p {
  font-size: 20px;
}

.speedometer h3 {
  font-size: 
}